.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #FAFAFA;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 30px;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: #999999;
}

.nav-link:hover {
  color: #444444;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.PageTitle {
  font-family: 'Roboto', 'Arial';
  font-weight: 200;
  font-size: 20px;
}

.card-link {
  text-decoration: none;
  color: #0D6EFD;
  font-size: 17px;
  margin-bottom: 10px;
}

.card-link:hover {
  color: #24527C;
}

.container-card {
  margin-left: 40px;
}


.p-10 {
  padding: 40px;
}

.container-image {
    bottom: 20px;
    left: -250px;
}

.pb-40 {
  padding-bottom: 160px;
}

.form-check-label {
  padding-left: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}